.main-chat__message-list--left-list
  .left-list__info
    %h1.left-list__info--member-name masa
    %h1.left-list__info--date 2019/01/01(Wed) 17:43:01
  %p おはよう
.main-chat__message-list--left-list
  .left-list__info
    %h1.left-list__info--member-name masa
    %h1.left-list__info--date 2019/01/01(Wed) 17:43:01
  %p おはよう
.main-chat__message-list--left-list
  .left-list__info
    %h1.left-list__info--member-name masa
    %h1.left-list__info--date 2019/01/01(Wed) 17:43:01
  %p おはよう
.main-chat__message-list--left-list
  .left-list__info
    %h1.left-list__info--member-name masa
    %h1.left-list__info--date 2019/01/01(Wed) 17:43:01
  %p おはよう
.main-chat__message-list--left-list
  .left-list__info
    %h1.left-list__info--member-name masa
    %h1.left-list__info--date 2019/01/01(Wed) 17:43:01
  %p おはよう
