.main-chat__message-list--message
  .message-info
    %p.message-info__member-name masa
    %p.message-info__date 2019/01/01(Wed) 17:43:01
  %p おはよう
.main-chat__message-list--message
  .message-info
    %p.message-info__member-name masa
    %p.message-info__date 2019/01/01(Wed) 17:43:01
  %p おはよう
.main-chat__message-list--message
  .message-info
    %p.message-info__member-name masa
    %p.message-info__date 2019/01/01(Wed) 17:43:01
  %p おはよう
.main-chat__message-list--message
  .message-info
    %p.message-info__member-name masa
    %p.message-info__date 2019/01/01(Wed) 17:43:01
  %p おはよう
.main-chat__message-list--message
  .message-info
    %p.message-info__member-name masa
    %p.message-info__date 2019/01/01(Wed) 17:43:01
  %p おはよう