- @messages.each do |message|
  .main-chat__message-list--message
    .message-info
      .message-info__member-name 
        = message.user.name
      .message-info__date 
        = message.created_at
    %p
      = message.content
    = image_tag message.image.to_s unless message.image.blank?