* {
  box-sizing: border-box;
}

.side-bar {
  $base-color: #fff;
  width: 300px;
  height: 100vh;
  background-color: #253141;
  float: left;
  &__user-name {
    height: 100px;
    position: relative;
  }
  .top-items {
    height: 20px;
    width: 260px;
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    color: $base-color;
    &__name {
      width: auto;
    }
    &__icons {
      widows: auto;
      display: flex;
    }
    &__icon {
      color: $base-color;
      padding-left: 5px;
    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .list {
      height: auto;
      padding: 0 20px;
      color: $base-color;
      &__group-name {
        padding: 20px 0 5px;
        .group-name {
          font-size: 15px;
          color: #ffffff;
          text-decoration: none;
        }
      }
      &__group-message {
        padding-bottom: 40px;
        font-size: 15px;
      }
    }
  }
}

.main-chat {
  $base-color: #fff;
  $btn-color: #38aef0;
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: $base-color;
  float: right;
  &__group-info {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }
  &__left-info {
    padding-top: 35px;
    &--group-name {
      font-size: 20px;
      color: #333333;
      padding-bottom: 15px;
    }
    &--member-name {
      font-size: 12px;
      color: #999999;
    }
  }
  &__edit-btn {
    padding-top: 25px;
  }
  .edit-btn {
    text-decoration: none;
    p{
      color: $btn-color;
      font-size: 20px;
      padding: 10px 18px;
      border: solid 1px $btn-color;
    }
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px 0;
    &--message {
      padding-bottom: 40px;
      .message-info {
        padding-bottom: 15px;
        display: flex;
        &__member-name {
          font-size: 16px;
          color: #333333;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      p {
        font-size: 14px;
        color: #434a54;
      }
    }
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    .input-box {
      position: relative;
      &__text-box {
        padding: 0 50px 0 5px;
        height: 50px;
        width: 1097px;
      }
      &__image-box {
        display: none;
      }
      &__image {
        height: 40px;
        width: 40px;
      }
      .fa-image {
        font-size: 30px;
      }
      .form__mask {
        position: absolute;
        right: 140px;
        top: 10px;
      }
    }
    .send-btn {
      position: absolute;
      padding: 15px 28px;
      margin-left: 20px;
      background-color: $btn-color;
      color: #ffffff;
    }
  }
}